*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IDEA
.idea/
*.iws
*.ipr

# Logs
*.log

# Android Studio
captures/
.externalNativeBuild/

# Kotlin
*.kotlin_module

# Mac
.DS_Store


